<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        html {
            font-family: sans-serif;
        }

        body {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            background-color: #e2d523;
        }

        section {
            padding: 10px;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <header>
    </header>

    <main>
        <section>
            <img src="../public/img/Error404.jpg" alt="Pagina no encontrada">
        </section>
    </main>
</body>

</html>