<link rel="stylesheet" href="../css/header.css" />
<header>
     <div class="header-top">

          <div class="">
               <form action="/search" method="GET" class="search-form">
                    <input type="text" name="keywords" placeholder="Buscar libros y más" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
               </form>
          </div>

          <div id="logo">
               <a href="/" class="main-header_home-link"><img class="logo" src="/img/LOGO-DB.png"></a>
          </div>

          <div class="cuentas">
               <ul>
                    <% if (locals.isLogged) { %>
                         <li>
                              <a class="nav-link dropdown-toggle" href="/users/profile" id="dropUser" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                   <img src="/img/users/<%= locals.userLogged.avatar %>" width="40"
                                        style="border-radius: 100%;">
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <a class="dropdown-item" href="/users/profile">Mi perfil</a>
                                   <li>
                                        <hr class="dropdown-divider">
                                   </li>
                                   <a class="dropdown-item" href="/users/logout">Logout</a>
                                   <li>
                                        <hr class="dropdown-divider">
                                   </li>
                                   <a class="dropdown-item" href="/productAbm">Productos</a>
                                   <li>
                                        <hr class="dropdown-divider">
                                   </li>
                                   <a class="dropdown-item" href="/users/userList">Usuarios</a>
                              </ul>
                         </li>
                         <li><a href="/productCart">Mis compras</a></li>

                         <% } else { %>
                              <li class="nav-item"><a class="nav-link" href="/users/register">Crear cuenta</a></li>
                              <li class="nav-item"><a class="nav-link" href="/users/login">Iniciar sesión</a></li>
                              <% } %>
               </ul>
          </div>
     </div>

     <div class="navbar">
          <a href="/" target="">Home</a>
          <a href="/products" target="">Productos</a>
          <a href="/productCart" target="">Venta</a>
          <a href="" target="">Contacto</a>
          <a href="" target="">Ayuda</a>
     </div>
     
     <!--<div>
          <ul id="header-down">
               <il class="header-down"><a href="/" target="">home</a></il>
               <a>|</a>
               <il class="header-down"><a href="/products" target="">productos</a></il>
               <a>|</a>
               <il class="header-down"><a href="/productCart" target="">venta</a></il>
               <a>|</a>
               <il class="header-down"><a href="" target="">contacto</a></il>
               <a>|</a>
               <il class="header-down"><a href="" target="">Ayuda</a></il>
          </ul>
     </div>-->
</header>